<h1>Listing comments</h1>

<table>
  <tr>    
    <th>Body</th>
  </tr>

<% for comment in @comments %>
  <tr>
    
    <td><%=h comment.body %></td>
    <td><%= link_to 'Show', [@opinion, comment] %></td>
    <td><%= link_to 'Edit', [:edit, @opinion, comment] %></td>
    <td><%= link_to 'Destroy', [@opinion, comment], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_opinion_comment_path(@opinion) %>
