<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Opinions: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
   <%= javascript_include_tag 'prototype' %>
   <%= javascript_include_tag 'defaults'  %>
  
</head>
<body>
  <div id="header">
    <div id="logo"> <h1>LearnBack<h6>a tool for gathering feedback</h6></h1></div>
   <div class="section-header project-title">
        <% if (controller.controller_name == 'opinions') %>
            Feedback for <%= @project.title %>  
             <% if logged_in? && (@project.id == 1) %>
                <div class="addnew">
                 <%= button_to "Add New Opinion", new_opinion_path %>                
                </div>               
            <% end %>
        <% end %>
    </div>
  <div id="actions">
     <% if logged_in?   %>
       <ul><li><%= link_to 'Home', opinions_path %></li> | <li>Welcome <em><b><%= current_user.login.capitalize %></b></em></li> | <li><%= link_to 'Logout', "/logout" %></li></ul>
       <ul><li><%= "Role: Admin" if current_user.admin? %></li><li><%= link_to " | Add New Project", new_project_path if current_user.admin? %></li></ul>     
            
    <% else %>
          <ul><li><%= link_to 'Signup', "/signup" %>  | </li> <li><%= link_to 'Login', "/login" %></li></ul>
    <% end %>
    
  </div>
</div>

<p style="color: green"><%= flash[:notice] %></p>
<div id="contents">
<%= yield  %>
</div>

<div id="footer">

</div>
</body>
</html>
